<!DOCTYPE html>
<html>
<head>
   	<meta charset="UTF-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<title>Squadra Ranking</title>
   	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card border-0 shadow rounded-3 my-5">
          <div class="card-body p-4 p-sm-5">
            <h5 class="card-title text-center mb-5 fw-light fs-5">Ingreso a Ranking Semanal Garmin</h5>
            <form method="post" id="login-form">
              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="usuario" placeholder="name@example.com">
                <label for="usuario">Usuario</label>
              </div>
              <div class="form-floating mb-3">
                <input type="password" class="form-control" id="password" placeholder="Password">
                <label for="password">Password</label>
              </div>

              <div class="form-floating mb-3">

<div class="row g-2">
  <div class="col-md">
    <div class="form-floating">
        	<input type="date" class="form-control" id="fechadesde" placeholder="FechaDesde">
                <label for="fechadesde">Fecha Desde</label>
    </div>
  </div>
  <div class="col-md">
    <div class="form-floating">
        	<input type="date" class="form-control" id="fechahasta" placeholder="FechaHasta">
                <label for="fechahasta">Fecha Hasta</label>
    </div>
  </div>
</div>

              </div>

              <div class="d-grid">
                <button class="btn btn-primary btn-login text-uppercase fw-bold" type="submit">Consultar</button>
              </div>

    	    </form>
          </div>
        </div>
      </div>
    </div>
  </div>

<div id="resultado"></div>

<div id="resultadodates"></div>

  <!-- Modal Prograso -->
<div class="modal fade" id="pleaseWaitDialog" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" aria-labelledby="pleaseWaitDialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Procesando...</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="progress">
          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%" id="progressbar">
            <span class="sr-only" id="progresstext">Login a Garmin</span>
          </div>
        </div>
        <span id="output"></span>
      </div>
    </div>
  </div>
</div>

  <!-- Modal Error -->
  <div class="modal fade" id="errorDialog" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="errorDialog" aria-hidden="true">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Error!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="error"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>

    </div>
  </div>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>

<script>
    var lastResponseLength;
    var progress = 0;

    var pleaseWaitDialog = new bootstrap.Modal($('#pleaseWaitDialog'))

    showPleaseWait = function () {
        pleaseWaitDialog.show();
    };

    hidePleaseWait = function () {
        pleaseWaitDialog.hide();
    };

    var errorDialog = new bootstrap.Modal($('#errorDialog'))

    showError = function (mensaje) {
    	$("#error").html(mensaje);
        errorDialog.show();
    };

    hideError = function () {
        errorDialog.hide();
    };

    $('#fechadesde').change(function () {
        var date = new Date($(this).val());
        date.setDate(date.getDate() + 6);
        $('#fechahasta').val(date.toISOString().slice(0,10));
    });

    $('#fechahasta').change(function () {
        var date = new Date($(this).val());
        date.setDate(date.getDate() - 6);
        $('#fechadesde').val(date.toISOString().slice(0,10));
    });


    updateProgress = function (value, text) {
    	$('#progressbar').css('width', value+'%').attr('aria-valuenow', value);
    	$('#progresstext').html(text);
    	$('#output').html(text);
    };

    getCookie = function(name) {
        var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
        if (match) return match[2];
        //const value = `; ${document.cookie}`;
        //const parts = value.split(`; ${name}=`);
        //if (parts.length === 2) return parts.pop().split(';').shift();
    }

	$('#login-form').on('submit',function(e){
		e.preventDefault();
        var csrftoken = getCookie('csrftoken');
        var headers = new Headers();
        headers.append('X-CSRFToken', csrftoken);
		updateProgress(0,"");
		progress = 0;
		showPleaseWait();
		var formvalues = {
          		usuario: $("#usuario").val(),
          		password: $("#password").val(),
          		fecha: $("#fechahasta").val()
		}

		$.ajax({
      		type:'POST',
      		async: true,
      		url:'/ranking/ranking/',
      		beforeSend: function(request) {
                request.setRequestHeader('X-CSRFToken', csrftoken);
            },
      		data: JSON.stringify(formvalues),
			contentType: "application/json",
            xhr: function() {
                var xhr = $.ajaxSettings.xhr();
               // Download progress
               xhr.addEventListener("progress", function(evt){
                    var progressResponse;
                    var response = evt.currentTarget.response;
                    if(lastResponseLength === false)
                    {
                        progressResponse = response;
                        lastResponseLength = response.length;
                    }
                    else
                    {
                        progressResponse = response.substring(lastResponseLength);
                        lastResponseLength = response.length;
                    }
                    if (progress < 100) {
                        progress = progress + 4;
                    }
                    updateProgress(progress,progressResponse);
                   console.log(response);
               }, false);
               return xhr;
            }
        }).done(function (data) {
    		updateProgress(100,'Finalizado');
			resultado();
	    }).fail(function (jqXHR, textStatus) {
    	    hidePleaseWait();
    	    console.log(jqXHR);
			showError(jqXHR.responseText);
        });
    });

    resultado = function() {
    	$.ajax({
      		type:'GET',
      		async: true,
      		url:'/ranking/resultado/',
		}).done(function (data) {
			$("#resultado").html(data)
            hidePleaseWait();
	    }).fail(function (jqXHR, textStatus) {
    	    hidePleaseWait();
			showError(jqXHR.responseText);
        });
    }



</script>

</body>
</html>