<!DOCTYPE html>
<html>
<head>
   	<meta charset="UTF-8">
   	<meta name="viewport" content="width=device-width, initial-scale=1.0">
   	<title>Squadra Dashboard</title>
   	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>

<style type="text/css">
.hide-me[aria-expanded="false"] {display: none;}
</style>

<body>

<script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

  
<nav class="navbar navbar-light bg-light navbar-expand-lg" role="navigation">
  <div class="container-fluid">
        <a class="col-md-3 col-lg-2 navbar-brand" href="#">
            Squadra Dashboard
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="col-md-9 col-lg-9 collapse navbar-collapse" id="navbarNav">
          <ul class="nav navbar-nav nav-pills me-auto">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Inicio</a>
            </li>
            <li class="my-40 mx-3 border-end"></li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mi Perfil</a>
            </li>
            <li class="my-40 mx-3 border-end"></li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mis Entrenos</a>
            </li>
            <li class="my-40 mx-3 border-end"></li>
            <li class="nav-item">
              <a class="nav-link" href="#">Mi Equipo</a>
            </li>
            <li class="my-40 mx-3 border-end"></li>
            <li class="nav-item">
              <a class="nav-link" href="logout/">Salir</a>
            </li>
          </ul>
          <span class="navbar-text hide-me">
            {{user_name}}
          </span>
        </div>
    </div>
</nav>

<div class="container-fluid h-100">
  <div class="row h-100">

        <nav class="col-md-3 col-lg-2 bg-light collapse show" id="bd-docs-nav" aria-label="Docs navigation" style=""><ul class="list-unstyled mb-0 py-3 pt-md-1">
            <ul class="list-unstyled mb-0 py-3 pt-md-1">
                  <li class="mb-1">
                    <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#helpers-collapse" aria-expanded="false">
                      Reportes
                    </button>
            
                    <div class="collapse show" id="helpers-collapse">
                      <ul class="list-unstyled fw-normal pb-1 small">
                          <li><a href="javascript:onclickoption('/dashboard/plan/')" class="d-inline-flex align-items-center rounded">Entrenos</a></li>
                          <li><a href="javascript:onclickoption('/dashboard/ranking/')" class="d-inline-flex align-items-center rounded">Ranking</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="mb-1">
                    <button class="btn d-inline-flex align-items-center rounded collapsed" data-bs-toggle="collapse" data-bs-target="#about-collapse" aria-expanded="false">
                      Team
                    </button>
            
                    <div class="collapse" id="about-collapse">
                      <ul class="list-unstyled fw-normal pb-1 small">
                          <li><a href="/docs/5.0/about/team/" class="d-inline-flex align-items-center rounded">Team</a></li>
                          <li><a href="/docs/5.0/about/brand/" class="d-inline-flex align-items-center rounded">Brand</a></li>
                      </ul>
                    </div>
                  </li>
                  <li class="my-3 mx-4 border-top"></li>
                  <li>
                    <a href="/docs/5.0/migration/" class="d-inline-flex align-items-center rounded">
                      Contact
                    </a>
                  </li>
            </ul>
        </nav>
<main class="col-md-9 col-lg-10 px-0 border-top border-start">

<div id="content">
        <h1 class="h2">Dashboard</h1>
</div>
<footer class="pt-5 d-flex justify-content-between">
  <span>Copyright © 2022 <a href="https://squadra.com.ar">Squadra</a></span>
  <ul class="nav m-0">
      <li class="nav-item">
        <a class="nav-link text-secondary" href="#">Contacto</a>
      </li>
    </ul>
</footer>

      </main>
  </div>
</div>

  <!-- Modal Error -->
  <div class="modal fade" id="errorDialog" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false"  aria-labelledby="errorDialog" aria-hidden="true">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Error!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="error"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>

    </div>
  </div>

</body>

<script>
    var errorDialog = new bootstrap.Modal($('#errorDialog'))

    showError = function (mensaje) {
    	$("#error").html(mensaje);
        errorDialog.show();
    };

    hideError = function () {
        errorDialog.hide();
    };

    getCookie = function(name) {
        var match = document.cookie.match(new RegExp('(^| )' + name + '=([^;]+)'));
        if (match) return match[2];
    }

	onclickoption = function(destiny) {
        var csrftoken = getCookie('csrftoken');
		$.ajax({
      		type:'POST',
      		async: true,
      		url:destiny,
      		beforeSend: function(request) {
                request.setRequestHeader('X-CSRFToken', csrftoken);
            },
			contentType: "application/x-www-form-urlencoded",
        }).done(function (data) {
			$("#content").html(data);
	    }).fail(function (jqXHR, textStatus) {
    	    console.log(jqXHR);
			// TODO: showError(jqXHR.responseText);
        });
	}
</script>
</html>
